# Since IntelliJ's comes with really good support for EditorConfig,
# and most other editors also support it.

# This is the top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

#
# Sections to make targeting as specific as we can while keeping it terse
#

[/{build,settings}.gradle.kts]
indent_style = space
indent_size = 2

[/src/main/jte/**.kte]
indent_style = space
indent_size = 2

[/{src,test}/**.kt]
# For Kotlin 2 spaces is an override of the official style.
indent_style = space
indent_size = 2
# Order all imports alphabetically in one block
ij_kotlin_imports_layout = *
# The 999 values are hacks to enable "no-wildcard-imports" behavior.
ij_kotlin_name_count_to_use_star_import = 999
ij_kotlin_name_count_to_use_star_import_for_members = 9999
# Import all kotlinx.html functions at once to improve code-completion while writing templates
ij_kotlin_packages_to_use_import_on_demand = kotlinx.html.*


[*.sql]
indent_style = space
indent_size = 2


[*.md]
max_line_length = 999
trim_trailing_whitespace = false
